@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body, .app {
    height: 100%;
    width: 100%;

}


.field {
    height: 100%;
    width: 100%;

    display: grid;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: #BDBDBD;

    &.closed {
        border-top:     solid #FFFFFF 6px;
        border-left:    solid #FFFFFF 6px;
        border-right:   solid #7B7B7B 6px;
        border-bottom:  solid #7B7B7B 6px;
    }

    &.flag::before {
        background-image: url("flag.svg");
        color: white;
        content:"";
        display: block;
        height: 42%;
        width: 42%;

    }

    &.open {
        
        border-top:     solid #7B7B7B 2px;
        border-left:    solid #7B7B7B 2px;
        border-right:   none;
        border-bottom:  none;



        &.one {
            color: blue;
        }

        &.two {
            color: green;
        }

        &.three {
            color: red;
        }

        &.four {
            color: darkblue;
        }

        &.five {
            color: maroon;
        }

        &.six {
            color: teal;
        }

        &.seven {
            color: black;
        }

        &.eight {
            color: black;
        }

        &.zero {
            font-size: 0;
        }
    }

    /* from http://howtocenterincss.com/ */
    display:flex;
    justify-content:center;
    align-items:center;


    /* from https://stackoverflow.com/a/6900392 */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    cursor: default;

}


