@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-weight: 900;

  font-size: 22px;
}

body,
.app {
  height: 100%;
  width: 100%;
}

.field {
  height: 100%;
  width: 100%;

  display: grid;
}

.cell {
  width: 100%;
  height: 100%;
  background-color: #C7C7C7;

  &.closed {
    border-top: solid #F8F8F8 4px;
    border-left: solid #F8F8F8 4px;
    border-right: solid #939393 4px;
    border-bottom: solid #939393 4px;
  }

  &.question {
    color: black;
  }

  &.flag, &.mine {
    &::before {
      content: "";
      display: block;
      height: 55%;
      width:  55%;
      
    }
  }

  &.flag {
    &::before {
      background-color: rgb(234, 23, 185);
      -webkit-mask-image: url("./flag.svg");
      mask-image: url("./flag.svg");
    }
  }

  &.boom {
    background-color: #EA3323;
  }

  
  &.mine {
    &::before {
      height: 85%;
      width:  85%;
      background-image: url("./mine.svg");
      background-color: black;
    }
  }



  &.open {
    border-top: solid #939393 2px;
    border-left: solid #939393 2px;
    border-right: none;
    border-bottom: none;

    &.one {
      color: #0500F5;
    }

    &.two {
      color: #377E22;
    }

    &.three {
      color: #EA3323;
    }

    &.four {
      color: darkblue;
    }

    &.five {
      color: maroon;
    }

    &.six {
      color: teal;
    }

    &.seven {
      color: black;
    }

    &.eight {
      color: black;
    }

    &.zero {
      font-size: 0;
    }
  }

  /* from http://howtocenterincss.com/ */
  display: flex;
  justify-content: center;
  align-items: center;

  /* from https://stackoverflow.com/a/6900392 */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  cursor: default;
}
